# vim: ft=bash:

# direnv configuration (see: https://direnv.net/)

if ! on_git_branch; then
    echo "WARNING: Not in a git repo, it is recommended to keep track of your flake with git"
fi

if has nix; then
    use flake

    # https://github.com/nix-community/nix-direnv
    if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
        source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
    else
        nix_direnv_watch_file *.nix .*.nix
    fi

else
    echo "WARNING: nix not found"
fi
